instance
dev_data_folder*
.idea/
.cache/
data/

*.pyc
*.egg-info
*~

.DS_Store
wordinfo.db
default_api.cfg
build*
*.egg*
*.db
*.log
dash.cfg
env_var_defs.py
.pytest_cache*
zeeguu_api/machine_specific.py
*.db-journal

.out

machine_specific.py
lu-mir-zeeguu-credentials.json

zenv*
tools/_playground.py
