**/.vscode/
instance
dev_data_folder*
.idea/
.cache/
data/
tools/report_generator/reports/
tools/crawl_summary/crawl_data/

*.pyc
*.egg-info
*~

.DS_Store
wordinfo.db
default.api.cfg
build*
*.egg*
*.db
*.log
dash.cfg
env_var_defs.py
.pytest_cache*
zeeguu_api/machine_specific.py
*.db-journal

.out

machine_specific.py
lu-mir-zeeguu-credentials.json

zenv*
tools/_playground.py

!zeeguu/core/word_filter/data/

.env
api.cfg
fmd.cfg

lu-mir-zeeguu-credentials.json

venv/
api_local.cfg
venv311_py311/

# Ignore PNG files in diagrams folder
diagrams/*.png
diagrams/*.json
