MAX_SESSION=99999999
SQLALCHEMY_DATABASE_URI = ("mysql+pymysql://zeeguu_test:zeeguu_test@host.docker.internal:3306/zeeguu_test")
SQLALCHEMY_TRACK_MODIFICATIONS=False


# Required by API
DEBUG=True
HOST="0.0.0.0"
API_PORT=9001
SECRET_KEY="lalalal"

## The SMTP config information below is used for
## sending password reset requests.
SMTP_EMAIL = ''

INVITATION_CODES=['test']

SEND_NOTIFICATION_EMAILS=False

ZEEGUU_DATA_FOLDER="/Users/zeeguu/data"