beautifulsoup4
blinker
deprecated
elasticsearch
Faker
flask
Flask-Assets
flask_cors
flask_sqlalchemy
jieba3k
jinja2==2.11.3
langdetect
lxml
mysqlclient
newspaper3k==0.2.7
nltk
numpy
Pillow
pyphen
regex
requests
requests_mock
sentry_sdk
sortedcontainers
SQLAlchemy==1.3.20
wordstats
