Faker
Flask-Assets
Pillow
SQLAlchemy==1.3.20
beautifulsoup4
blinker
elasticsearch
flask
flask_sqlalchemy
numpy
mysqlclient
# flask>=1.1.2
flask_cors
git+git://github.com/zeeguu-ecosystem/Python-Translators.git@master#egg=python_translators
git+git://github.com/zeeguu-ecosystem/apimux.git@master#egg=apimux
jieba3k
jinja2==2.11.1
langdetect
lxml
newspaper3k==0.2.7
nltk
pyphen
requests
requests_mock
sentry_sdk
sortedcontainers
wordstats
deprecated
