flask>=1.1.2
Flask-SQLAlchemy
Flask-Assets
flask_cors
mysqlclient
regex
beautifulsoup4
feedparser
numpy
blinker
sentry_sdk
git+git://github.com/zeeguu-ecosystem/Python-Translators.git@master#egg=python_translators
git+git://github.com/zeeguu-ecosystem/Zeeguu-Core.git@master#egg=zeeguu
git+git://github.com/zeeguu-ecosystem/apimux.git@master#egg=apimux
